{
    "service" : {
        "api" : "http",
        "port" : {{serverPort}}
    },
    "http": {
        "script": "{{basePathWithoutHost}}",
        "rewrite" : [ { "regex" : "/", "pattern" : "{{basePathWithoutHost}}/__api__" } ]
    },
    "file_server" : {
        "enable": true
    }
}
